@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitcount", system-ui;
}

:root {
  --ANIMATION: all 1s ease-in-out;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  border: 5px solid black;
  background-color: grey;
  text-align: center;
}

body > .user__input {
  font-size: 2.5rem;
  display: block;
  border: 7px groove black;
  max-width: 90%;
  margin-top: 2%;
  border-radius: 10px;
  padding: 0.2em;
  align-self: center;
  transition: var(--ANIMATION);
}

.main__calculator {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  transition: var(--ANIMATION);
}

.user__buttons {
  display: grid;
  grid-template-columns: repeat(3, 30.34%);
  grid-auto-rows: 20.34%;
  place-content: center;
  align-items: center;
  border: 1.2px solid rgb(80,77,77);
  background-color: rgba(187,180,180,0.877);
  width: 70%;
  height: 20.34rem;
  border-radius: 10px;
  padding-left: 1rem;
  transition: var(--ANIMATION);
}

.box {
  font-size: 2.3rem;
  font-weight: bolder;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: var(--ANIMATION);
}

.user__buttons > .box:last-child {
  background-color: rgb(20,245,20);
}

.user__buttons > .operator {
  background-color: rgb(123, 143, 143);
}

.user__buttons > .number {
  background-color: rgb(37, 29, 29);
  color: whitesmoke;
  border-color: rgb(74, 77, 77);
}

.misc__input {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 80.67%;
  transition: var(--ANIMATION);
}

.misc__input > .box {
  width: 65.5px;
  height: 65.5px;
  transition: var(--ANIMATION);
}

.main__calculator > h1 {
  font-size: 1.8rem;
}

.box:hover {
  background-color: rgb(202, 183, 183);
}

@media screen and (orientation: landscape) {
  body > .user__input {
    font-size: 1.9rem;
  }
  .main__calculator {
    flex-flow: row nowrap;
    max-height: inherit;
  }

  .box {
    font-size: 2rem;
    width: 40.5px;
    height: 40.5px;
  }

  .user__buttons {
    width: 40%;
    height: 15.34rem;
    grid-template-columns: repeat(3, 25.34%);
  }

  .misc__input {
    width: 50%;
    max-height: 12.32rem;
    align-items: center;
    gap: 5px;
  }
}